In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from sklearn.feature_selection import RFE
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [10]:
import warnings
warnings.filterwarnings('ignore')

In [11]:
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from sklearn.feature_selection import RFE
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [3]:
from google.colab import files
uploaded = files.upload()

Saving carprice.csv to carprice.csv

In [12]:
dataset = pd.read_csv('carprice.csv')

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [ ]:
dataset.duplicated(subset = ['car_ID']).sum()

0

In [ ]:
dataset.isnull().sum()

In [13]:
dataset['CarName']

0            alfa-romero giulia
1           alfa-romero stelvio
2      alfa-romero Quadrifoglio
3                   audi 100 ls
4                    audi 100ls
                 ...
200             volvo 145e (sw)
201                 volvo 144ea
202                 volvo 244dl
203                   volvo 246
204                 volvo 264gl
Name: CarName, Length: 205, dtype: object

In [ ]:
dataset['car_company'] = dataset['CarName'].apply(lambda x:x.split(' ')[0])

In [ ]:
dataset['car_company']

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: car_company, Length: 205, dtype: object

In [ ]:
dataset.head()

   car_ID  symboling  ...    price  car_company
0       1          3  ...  13495.0  alfa-romero
1       2          3  ...  16500.0  alfa-romero
2       3          1  ...  16500.0  alfa-romero
3       4          2  ...  13950.0         audi
4       5          2  ...  17450.0         audi

[5 rows x 27 columns]

In [ ]:

dataset['car_company'].value_counts()

toyota         31
nissan         17
mazda          15
mitsubishi     13
honda          13
subaru         12
volvo          11
peugeot        11
dodge           9
volkswagen      9
bmw             8
buick           8
audi            7
plymouth        7
saab            6
isuzu           4
porsche         4
jaguar          3
chevrolet       3
alfa-romero     3
renault         2
vw              2
maxda           2
mercury         1
vokswagen       1
Nissan          1
porcshce        1
toyouta         1
Name: car_company, dtype: int64

In [ ]:
dataset['car_company'].replace('toyouta', 'toyota',inplace=True)
dataset['car_company'].replace('Nissan', 'nissan',inplace=True)
dataset['car_company'].replace('maxda', 'mazda',inplace=True)
dataset['car_company'].replace('vokswagen', 'volkswagen',inplace=True)
dataset['car_company'].replace('vw', 'volkswagen',inplace=True)
dataset['car_company'].replace('porcshce', 'porsche',inplace=True)

In [ ]:
dataset['car_company'].value_counts()

toyota         31
nissan         17
mazda          15
mitsubishi     13
honda          13
subaru         12
volvo          11
peugeot        11
dodge           9
volkswagen      9
bmw             8
buick           8
plymouth        7
audi            7
saab            6
porsche         4
isuzu           4
alfa-romero     3
jaguar          3
chevrolet       3
maxda           2
vw              2
renault         2
toyouta         1
vokswagen       1
mercury         1
Nissan          1
porcshce        1
Name: car_company, dtype: int64

In [45]:
def number_(x):
    return x.map({'four':4, 'two': 2})
    
dataset['doornumber'] = dataset[['doornumber']].apply(number_)

In [47]:
dataset['doornumber']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
200   NaN
201   NaN
202   NaN
203   NaN
204   NaN
Name: doornumber, Length: 205, dtype: float64

In [ ]:
dataset['cylindernumber'].value_counts()

four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: cylindernumber, dtype: int64

In [48]:
def convert_number(x):
    return x.map({'two':2, 'three':3, 'four':4,'five':5, 'six':6,'eight':8,'twelve':12})

dataset['cylindernumber'] = dataset[['cylindernumber']].apply(convert_number)

In [49]:

#re-checking
dataset['cylindernumber'].value_counts()

4     159
6      24
5      11
8       5
2       4
12      1
3       1
Name: cylindernumber, dtype: int64

In [ ]:
print(d)

In [ ]:
cars_numeric = dataset.select_dtypes(include =['int64','float64'])
cars_numeric.head()

   car_ID  symboling  doornumber  ...  citympg  highwaympg    price
0       1          3           2  ...       21          27  13495.0
1       2          3           2  ...       21          27  16500.0
2       3          1           2  ...       19          26  16500.0
3       4          2           4  ...       24          30  13950.0
4       5          2           4  ...       18          22  17450.0

[5 rows x 18 columns]

In [16]:
categorical_cols = dataset.select_dtypes(include = ['object'])
categorical_cols.head()

                    CarName fueltype  ... cylindernumber fuelsystem
0        alfa-romero giulia      gas  ...           four       mpfi
1       alfa-romero stelvio      gas  ...           four       mpfi
2  alfa-romero Quadrifoglio      gas  ...            six       mpfi
3               audi 100 ls      gas  ...           four       mpfi
4                audi 100ls      gas  ...           five       mpfi

[5 rows x 10 columns]

In [50]:
cars_dummies = pd.get_dummies(categorical_cols, drop_first = True)
cars_dummies.head()

   CarName_alfa-romero Quadrifoglio  ...  fuelsystem_spfi
0                                 0  ...                0
1                                 0  ...                0
2                                 1  ...                0
3                                 0  ...                0
4                                 0  ...                0

[5 rows x 175 columns]

In [58]:

car_df  = pd.concat([dataset, cars_dummies], axis =1)

In [52]:
car_df = car_df.drop(['fueltype', 'aspiration', 'carbody', 'drivewheel', 'enginelocation',
       'enginetype', 'fuelsystem', 'car_company'], axis =1)

KeyError: ignored

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree = 3)
X_poly = poly_reg.fit_transform(X)
lin_reg_2 = LinearRegression()
lin_reg_2.fit(X_poly, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

In [27]:
cars_dummies = pd.get_dummies(categorical_cols, drop_first = True)
cars_dummies.head()

   CarName_alfa-romero Quadrifoglio  ...  fuelsystem_spfi
0                                 0  ...                0
1                                 0  ...                0
2                                 1  ...                0
3                                 0  ...                0
4                                 0  ...                0

[5 rows x 175 columns]

In [53]:
car_df  = pd.concat([dataset, cars_dummies], axis =1)

In [54]:
car_df = car_df.drop(['fueltype', 'aspiration', 'carbody', 'drivewheel', 'enginelocation',
       'enginetype', 'fuelsystem'], axis =1)

In [55]:

car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Columns: 194 entries, car_ID to fuelsystem_spfi
dtypes: float64(9), int64(9), object(1), uint8(175)
memory usage: 65.6+ KB

In [56]:
df_train, df_test = train_test_split(car_df, train_size = 0.7, test_size = 0.3, random_state = 100)

In [34]:
df_train.shape

(143, 194)

In [35]:
df_test.shape

(62, 194)

In [37]:
y_train = df_train.pop('price')
X_train = df_train

In [57]:
car_df.head()

   car_ID  symboling  ... fuelsystem_spdi  fuelsystem_spfi
0       1          3  ...               0                0
1       2          3  ...               0                0
2       3          1  ...               0                0
3       4          2  ...               0                0
4       5          2  ...               0                0

[5 rows x 194 columns]

In [44]:
car_df.drop('CarName',axis=1)

     car_ID  symboling  ... fuelsystem_spdi  fuelsystem_spfi
0         1          3  ...               0                0
1         2          3  ...               0                0
2         3          1  ...               0                0
3         4          2  ...               0                0
4         5          2  ...               0                0
..      ...        ...  ...             ...              ...
200     201         -1  ...               0                0
201     202         -1  ...               0                0
202     203         -1  ...               0                0
203     204         -1  ...               0                0
204     205         -1  ...               0                0

[205 rows x 193 columns]

In [61]:

col_list = ['symboling', 'doornumber', 'wheelbase', 'carlength', 'carwidth','carheight', 'curbweight', 'cylindernumber', 'enginesize', 'boreratio',
            'stroke', 'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price']

In [62]:

scaler = StandardScaler()

In [63]:
df_train[col_list] = scaler.fit_transform(df_train[col_list])

In [64]:
df_train.describe()

           car_ID     symboling  ...  fuelsystem_spdi  fuelsystem_spfi
count  143.000000  1.430000e+02  ...       143.000000            143.0
mean    98.524476  5.473477e-17  ...         0.041958              0.0
std     58.977655  1.003515e+00  ...         0.201198              0.0
min      1.000000 -2.347020e+00  ...         0.000000              0.0
25%     48.500000 -6.689008e-01  ...         0.000000              0.0
50%     97.000000  1.701590e-01  ...         0.000000              0.0
75%    147.500000  1.701590e-01  ...         0.000000              0.0
max    205.000000  1.848278e+00  ...         1.000000              0.0

[8 rows x 193 columns]

In [65]:

y_train = df_train.pop('price')
X_train = df_train

In [69]:
print(y_train)
print(X_train)

122   -0.700201
125    1.151929
166   -0.452248
1      0.442646
199    0.757569
         ...
87    -0.485539
103    0.056898
67     1.606189
24    -0.877586
8      1.390627
Name: price, Length: 143, dtype: float64
     car_ID  symboling  ... fuelsystem_spdi  fuelsystem_spfi
122     123   0.170159  ...               0                0
125     126   1.848278  ...               0                0
166     167   0.170159  ...               0                0
1         2   1.848278  ...               0                0
199     200  -1.507960  ...               0                0
..      ...        ...  ...             ...              ...
87       88   0.170159  ...               1                0
103     104  -0.668901  ...               0                0
67       68  -1.507960  ...               0                0
24       25   0.170159  ...               0                0
8         9   0.170159  ...               0                0

[143 rows x 193 columns]